<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".offlinesync"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/quickglance_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quickglance_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickGlance"
        tools:targetApi="31">
        <activity
            android:name=".View_Snaps"
            android:exported="false" />
        <activity
            android:name=".Select_Senders_Snap"
            android:exported="false" />
        <activity
            android:name=".accept_friends_activity"
            android:exported="false" />
        <activity
            android:name=".Search_Activity"
            android:exported="false" />
        <activity
            android:name=".main_splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Credentials_Activity"
            android:exported="false" />
        <activity
            android:name=".OTP_Activity"
            android:exported="false" />
        <activity
            android:name=".reset_password_Activity"
            android:exported="false" />
        <activity
            android:name=".reset_password_number_activity"
            android:exported="false" />
        <activity
            android:name=".Add_friends_activity"
            android:exported="false" />
        <activity
            android:name=".chatspage_Activity"
            android:exported="false" />
        <activity
            android:name=".Send_snaps"
            android:exported="false" />
        <activity
            android:name=".Camera_Activity"
            android:exported="false" />
        <activity
            android:name=".Settings_Activity"
            android:exported="false" />
        <activity
            android:name=".Chat_Activity"
            android:exported="false" />
        <activity
            android:name=".Stories_Activity"
            android:exported="false" />
        <activity
            android:name=".Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".Registration_Activity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
    </application>

</manifest>